<div class="p-grid">
  <div class="p-xl-12 p-lg-12 p-md-12 p-sm-12">
    <!-- //responsive -->
    <app-student-requirement-list
      *ngIf="!studentDialog"
      [studentsIn]="students"
      [studentFormIn]="studentForm"
      [studentsEndIn]="studentsEnd"
      [flagStudents]="flagStudents"
      [paginatorIn]="paginator"
      [formStudentIn]="formStudent"
      (documentsOut)="documents = $event"
      (approvedDocumentsOut)="approvedDocuments = $event"
      (studentsOut)="students = $event"
      (studentOut)="student = $event"
      (displayOut)="studentDialog = $event"
      (formStudentOut)="formStudent = $event"
      (filesOut)="files = $event"
      (paginatorOut)="getStudents($event)"
    >
    </app-student-requirement-list>

    <p-dialog
      [(visible)]="studentDialog"
      [style]="{ width: '768px' }"
      header="Requerimientos del estudiante"
      [modal]="true"
      styleClass="p-fluid"
      (onHide)="studentDialog = false"
    >
      <app-student-requirement-form
        [documentsIn]="documents"
        [approvedDocumentsIn]="approvedDocuments"
        [studentsIn]="students"
        [studentIn]="student"
        [formStudentIn]="formStudent"
        (studentsOut)="students = $event"
        (studentOut)="studentForm = $event"
        (paginatorAdd)="paginator.total = paginator.total + $event"
        (displayOut)="studentDialog = $event"
      >
      </app-student-requirement-form>
    </p-dialog>
  </div>
</div>
