<div class="card">
  <h5>Coordinador de la carrera UIC</h5>
  <p-tabView>
    <p-tabPanel header="Convocatorias" leftIcon="pi pi-volume-up" tooltip="">
      <app-convocatory></app-convocatory>
    </p-tabPanel>

    <p-tabPanel header="Eventos" leftIcon="pi pi-calendar-plus" tooltip="">
      <app-catalogue-event></app-catalogue-event>
    </p-tabPanel>

    <p-tabPanel
      header="Asignación de eventos"
      leftIcon="pi pi-clock"
      tooltip=""
    >
      <app-event></app-event>
    </p-tabPanel>

    <p-tabPanel
      header="Actas de aprobación del anteproyecto"
      leftIcon="pi pi-book"
      tooltip=""
    >
      <app-project-plan></app-project-plan>
    </p-tabPanel>

    <p-tabPanel
      header="Estudiantes y requerimientos"
      leftIcon="pi pi-users"
      tooltip=""
    >
      <app-student-requirement></app-student-requirement>
    </p-tabPanel>
  </p-tabView>
</div>
