<div class="card">
    <h5>Mi Empresa</h5>
    <p-tabView [(activeIndex)]="index" (onChange)="changeTab($event)">
        <p-tabPanel header="Mi Perfil" leftIcon="pi pi-id-card" tooltip="">
            <app-profile *ngIf="index===0"></app-profile>
        </p-tabPanel>
        <p-tabPanel header="Ofertas" leftIcon="pi pi-briefcase" tooltip="">
            <app-offer *ngIf="index===1"></app-offer>
        </p-tabPanel>
        <p-tabPanel header="Profesional" leftIcon="pi pi-users" tooltip="">
            <app-professional *ngIf="index===2"></app-professional>
        </p-tabPanel>
    </p-tabView>
</div>
