<div id="header"></div>
<div class="title">
    <h2>DATOS PERSONALES</h2>
</div>
<div class="card" *ngFor="let user of professional.user">

    <table class="default">
        <tr>
            <td>Identificación</td>
            <td>Correo Electrónico</td>
            <td>Nombre</td>
            <td>Primer Apellido</td>
            <td>Segundo Apellido</td>
            <td>Teléfono</td>
            <td>Cumpleaños</td>
        </tr>
        <tr>
            <td>{{user.identification}}</td>
            <td>{{user.email}}</td>
            <td>{{user.names}}</td>
            <td>{{user.first_lastname}}</td>
            <td>{{user.second_lastname}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.birthdate}}</td>
        </tr>
    </table>
</div>
<p-card>
    <div class="title">
        <h2>HABILIDADES</h2>
    </div>
    <div class="card" *ngFor="let skill of professional.skills">
        <table class="default">
            <tr>
                <th>Tipo</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>{{skill.type.name}}</td>
                <td>{{skill.description}}</td>
            </tr>
        </table>
    </div>
</p-card>
<div class="title">
    <h2>CURSOS Y CAPACITACIONES</h2>
</div>
<div class="card" *ngFor="let course of professional.courses">
    <table class="default">
        <tr>
            <th>Tipo</th>
            <th>Nombre Institución</th>
            <th>Tipo de Certificado</th>
            <th>Nombre de Área</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Horas</th>
        </tr>
        <tr>
            <td>{{course.type.name}}</td>
            <td>{{course.institution.name}}</td>
            <td>{{course.certification_type.name}}</td>
            <td>{{course.area.name}}</td>
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.hours}}</td>
        </tr>
    </table>
</div>
<div class="title">
    <h2>EXPERIENCIA PROFESIONAL</h2>
</div>
<div class="card" *ngFor="let experience of professional.experiences">
    <table class="default">
        <tr>
            <th>Area</th>
            <th>Nombre Empleador</th>
            <th>Cargo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Motivo Salida</th>
            <th>Actividad</th>
        </tr>
        <tr>
            <td>{{experience.area.name}}</td>
            <td>{{experience.employer}}</td>
            <td>{{experience.position}}</td>
            <td>{{experience.start_date}}</td>
            <td>{{experience.end_date}}</td>
            <td>{{experience.reason_leave}}</td>
            <td>{{experience.activities}}</td>
        </tr>
    </table>
</div>
<div class="title">
    <h2>IDIOMAS</h2>
</div>
<div class="card" *ngFor="let language of professional.languages">
    <table class="default">
        <tr>
            <th>Idioma</th>
            <th>Nivel Escrito</th>
            <th>Nivel hablado</th>
            <th>Nivel de Escritura</th>
        </tr>
        <tr>
            <td>{{language.idiom.name}}</td>
            <td>{{language.written_level.name}}</td>
            <td>{{language.spoken_level.name}}</td>
            <td>{{language.read_level.name}}</td>
        </tr>
    </table>
</div>
<div class="title">
    <h2>REFERENCIAS PERSONALES</h2>
</div>
<div class="card" *ngFor="let reference of professional.references">
    <table class="default">
        <tr>
            <th>Istitución</th>
            <th>cargo</th>
            <th>Nombre de Contacto</th>
            <th>Número de Contacto</th>
            <th>Correo Electrónico</th>
        </tr>
        <tr>
            <td>{{reference.institution.name}}</td>
            <td>{{reference.position}}</td>
            <td>{{reference.contact_name}}</td>
            <td>{{reference.contact_phone}}</td>
            <td>{{reference.contact_email}}</td>
        </tr>
    </table>
</div>