 <app-skeleton *ngIf="flagSkeletonListUsers"></app-skeleton>
 <div class="card">
     <p-table #dt [value]="professional.user" [columns]="colsUser" [rowHover]="true" dataKey="id"
         styleClass="p-datatable-customers">
         <ng-template pTemplate="caption">
             <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                 <h5 class="p-m-0">DATOS USUARIO</h5>
             </div>
         </ng-template>
         <ng-template pTemplate="header" let-columns>
             <tr>
                 <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                     {{col.header}}
                     <p-sortIcon [field]="col.field"></p-sortIcon>
                 </th>
             </tr>
         </ng-template>
         <ng-template pTemplate="body" let-User>
             <tr>
                 <td>
                     {{User.name}}
                 </td>
                 <td>
                     {{User.email}}
                 </td>
                 <td>
                     {{User.names}}
                 </td>
                 <td>
                     {{User.first_lastname}}
                 </td>
                 <td>
                     {{User.second_lastname}}
                 </td>
                 <td>
                     {{User.phone}}
                 </td>
                 <td>
                     {{User.birthdate}}
                 </td>
                 <td>
                     {{User.sex.name}}
                 </td>
                 <td>
                     {{User.gender.name}}
                 </td>
             </tr>
         </ng-template>
     </p-table>
 </div>
 <app-skeleton *ngIf="flagSkeletonListSkills"></app-skeleton>
 <div class="card">
     <p-table #dt [value]="professional.skills" [columns]="colsSkill" [rowHover]="true" dataKey="id"
         styleClass="p-datatable-customers">
         <ng-template pTemplate="caption">
             <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                 <h5 class="p-m-0">HABILIDADES</h5>
             </div>
         </ng-template>
         <ng-template pTemplate="header" let-columns>
             <tr>
                 <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                     {{col.header}}
                     <p-sortIcon [field]="col.field"></p-sortIcon>
                 </th>
             </tr>
         </ng-template>
         <ng-template pTemplate="body" let-Skill>
             <tr>
                 <td>
                     {{Skill.type.name}}
                 </td>
                 <td>
                     {{Skill.description}}
                 </td>
             </tr>
         </ng-template>
     </p-table>
 </div>
 <app-skeleton *ngIf="flagSkeletonListCourses"></app-skeleton>
 <div class="card">
     <p-table #dt [value]="professional.courses" [columns]="colsCourse" [rowHover]="true" dataKey="id"
         styleClass="p-datatable-customers">
         <ng-template pTemplate="caption">
             <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                 <h5 class="p-m-0">CURSOS Y CAPACITACIONES</h5>
             </div>
         </ng-template>
         <ng-template pTemplate="header" let-columns>
             <tr>
                 <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                     {{col.header}}

                     <p-sortIcon [field]="col.field"></p-sortIcon>
                 </th>
             </tr>
         </ng-template>
         <ng-template pTemplate="body" let-Course>
             <tr>
                 <td>
                     {{Course.institution.name}}
                 </td>
                 <td>
                     {{Course.type.name}}
                 </td>
                 <td>
                     {{Course.certification_type.name}}
                 </td>
                 <td>
                     {{Course.area.name}}
                 </td>
                 <td>
                     {{Course.name}}
                 </td>
                 <td>
                     {{Course.description}}
                 </td>
                 <td>
                     {{Course.start_date}}
                 </td>
                 <td>
                     {{Course.end_date}}
                 </td>
                 <td>
                     {{Course.hours.name}}
                 </td>
             </tr>
         </ng-template>
     </p-table>
 </div>
 <app-skeleton *ngIf="flagSkeletonListExperiences"></app-skeleton>
 <div class="card">
     <p-table #dt [value]="professional.experiences" [columns]="colsExperience" [rowHover]="true" dataKey="id"
         styleClass="p-datatable-customers">
         <ng-template pTemplate="caption">
             <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                 <h5 class="p-m-0">EXPERIENCIAS PROFESIONALES</h5>
             </div>
         </ng-template>
         <ng-template pTemplate="header" let-columns>
             <tr>
                 <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                     {{col.header}}
                     <p-sortIcon [field]="col.field"></p-sortIcon>
                 </th>
             </tr>
         </ng-template>
         <ng-template pTemplate="body" let-Experience>
             <tr>
                 <td>
                     {{Experience.area.name}}
                 </td>
                 <td>
                     {{Experience.employer}}
                 </td>
                 <td>
                     {{Experience.position}}
                 </td>
                 <td>
                     {{Experience.start_date}}
                 </td>
                 <td>
                     {{Experience.activities}}
                 </td>
                 <td>
                     {{Experience.is_working}}
                 </td>
                 <td>
                     {{Experience.is_disability}}
                 </td>
             </tr>
         </ng-template>
     </p-table>
 </div>
 <app-skeleton *ngIf="flagSkeletonListLanguages"></app-skeleton>
 <div class="card">
     <p-table #dt [value]="professional.languages" [columns]="colsLanguage" [rowHover]="true" dataKey="id"
         styleClass="p-datatable-customers">
         <ng-template pTemplate="caption">
             <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                 <h5 class="p-m-0">IDIOMAS</h5>
             </div>
         </ng-template>
         <ng-template pTemplate="header" let-columns>
             <tr>
                 <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                     {{col.header}}
                     <p-sortIcon [field]="col.field"></p-sortIcon>
                 </th>
             </tr>
         </ng-template>
         <ng-template pTemplate="body" let-Language>
             <tr>
                 <td>
                     {{Language.idiom.name}}
                 </td>
                 <td>
                     {{Language.written_level.name}}
                 </td>
                 <td>
                     {{Language.spoken_level.name}}
                 </td>
                 <td>
                     {{Language.read_level.name}}
                 </td>
             </tr>
         </ng-template>
     </p-table>
 </div>

 <app-skeleton *ngIf="flagSkeletonListReferences"></app-skeleton>
 <div class="card">
     <p-table #dt [value]="professional.references" [columns]="colsReference" [rowHover]="true" dataKey="id"
         styleClass="p-datatable-customers">
         <ng-template pTemplate="caption">
             <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                 <h5 class="p-m-0">REFERENCIAS PERSONALES</h5>
             </div>
         </ng-template>
         <ng-template pTemplate="header" let-columns>
             <tr>
                 <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                     {{col.header}}
                     <p-sortIcon [field]="col.field"></p-sortIcon>
                 </th>
             </tr>
         </ng-template>
         <ng-template pTemplate="body" let-Reference>
             <tr>
                 <td>
                     {{Reference.institution.name}}
                 </td>
                 <td>
                     {{Reference.position}}
                 </td>
                 <td>
                     {{Reference.contact_name}}
                 </td>
                 <td>
                     {{Reference.contact_phone}}
                 </td>
                 <td>
                     {{Reference.contact_email}}
                 </td>
             </tr>
         </ng-template>
     </p-table>
 </div>