<app-skeleton *ngIf="flagRequirements" [type]="'table'"></app-skeleton>
<div class="card" [hidden]="flagRequirements">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Actualizar"
        icon="pi pi-refresh"
        class="p-button-info"
        (click)="paginatorOut.emit(paginatorIn)"
      ></button>
    </ng-template>
  </p-toolbar>
  <p-paginator
    [rows]="paginatorIn.per_page"
    [totalRecords]="paginatorIn.total"
    (onPageChange)="paginateRequirement($event)"
  ></p-paginator>
  <p-table
    #dt
    [value]="requirementsIn"
    [columns]="colsRequirement"
    [rows]="paginatorIn.per_page"
    [paginator]="false"
    [(selection)]="selectedRequirements"
    [rowHover]="true"
    dataKey="id"
    styleClass="p-datatable-customers"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div
        class="
          p-d-flex p-flex-column p-flex-md-row p-jc-md-between
          table-header
        "
      >
        <h5 class="p-m-0">Requerimientos</h5>
        <span class="p-input-icon-left">
          <i
            class="pi pi-search"
            (click)="searchRequirements($event, search.value)"
          ></i>
          <input
            pInputText
            #search
            type="text"
            (keyup)="searchRequirements($event, $event.target.value)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [ngSwitch]="col.field"
        >
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
          <!-- <input style="width:100px; margin-top: 10px;"  pInputText (input)="dt.filter($event.target.value, col.field, 'contains')" /> -->
        </th>
        <th style="text-align: center">
          <button
            pButton
            pRipple
            type="button"
            id="btnOptions"
            icon="pi pi-cog"
            class="p-button-secondary"
            disabled
          ></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="columns" let-rowData>
      <tr>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          <div
            *ngIf="col.field == 'is_required' || col.field == 'is_solicitable'"
          >
            {{ rowData[col.field] ? "Si" : "No" }}
          </div>
          <div *ngIf="col.field == 'career'">
            {{ rowData[col.field].short_name }}
          </div>
          <div
            *ngIf="
              col.field !== 'career' &&
              col.field !== 'is_required' &&
              col.field !== 'is_solicitable'
            "
          >
            {{
              rowData[col.field]?.name
                ? rowData[col.field]?.name
                : rowData[col.field]
            }}
          </div>
        </td>
        <td style="text-align: center">
          <button
            pButton
            pRipple
            type="button"
            id="btnAttach"
            pTooltip="Adjuntar Plantillas"
            icon="pi pi-paperclip"
            class="p-button-rounded p-ml-2"
            (click)="selectRequirement(rowData); openViewFilesRequirement()"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay
        {{ requirementsIn ? requirementsIn.length : 0 }} requerimientos.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="dialogViewFiles"
  [style]="{ width: '75%' }"
  header="Plantillas para los estudiantes"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="dialogViewFiles = false"
>
  <app-view-files
    (files)="upload($event, selectedRequirement.id)"
    [filesIn]="files"
    [title]="'Plantillas para el estudiante'"
    (searchOut)="searchFiles($event)"
    [paginatorIn]="paginatorFiles"
    (paginatorOut)="getFiles($event)"
  >
  </app-view-files>
</p-dialog>
