<div class="p-fluid">
    <form [formGroup]="formDate">
        <div class="p-formgrid p-grid">
            <div class="p-field p-xl-4 p-lg-4 p-md-4 p-sm-4">
                <p-dropdown id="day"
                            [options]="days"
                            formControlName="day"
                            placeholder="Día"
                            (onChange)="updateValue()">
                </p-dropdown>
                <div *ngIf="dayField.errors && (dayField.touched || dayField.dirty)">
                    <small *ngIf="dayField.hasError('required')"
                           id="day-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
            <div class="p-field p-xl-4 p-lg-4 p-md-4 p-sm-4">
                <p-dropdown id="month"
                            [options]="months"
                            formControlName="month"
                            placeholder="Mes"
                            (onChange)="calculateTotalDays();updateValue()">
                    <ng-template pTemplate="selectedItem">
                        <div>{{monthField.value|months}}</div>
                    </ng-template>
                    <ng-template let-month pTemplate="item">
                        <div>{{month.value|months}}</div>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="monthField.errors && (monthField.touched || monthField.dirty)">
                    <small *ngIf="monthField.hasError('required')"
                           id="month-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
            <div class="p-field p-xl-4 p-lg-4 p-md-4 p-sm-4">
                <p-dropdown id="year" [options]="years"
                            formControlName="year" optionLabel="label"
                            [filter]="true" filterBy="label"
                            placeholder="Seleccione...">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="yearField.value">
                            <div>{{yearField.value.label}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="country-item">
                            <div>{{item.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="yearField.errors && (yearField.touched || yearField.dirty)">
                    <small *ngIf="yearField.hasError('required')"
                           id="year-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
        </div>
        <div class="p-field">
            <div *ngIf="formDate.invalid && (formDate.touched || formDate.dirty)">
                <small *ngIf="formDate.errors?.min"
                       id="form-date-help-1" class="p-error">
                    asdasd
                </small>
            </div>
        </div>
    </form>
</div>
