<div class="card">
  <button pButton type="button" icon="pi pi-plus" (click)="showDialog(true)" label="Nuevo Curso"
    class="p-button-success prueba"></button>
  <br>
  <p-tabView>
    <p-tabPanel header="Cursos" leftIcon="pi pi-id-card" tooltip="">

      <app-aproval></app-aproval>
      <p-dialog header="Crear Nuevo Curso" [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false"
        [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '29vw', height:'auto'}">

        <app-create-courses (showModal)=showDialog($event)> </app-create-courses>

      </p-dialog>
    </p-tabPanel>
    <p-tabPanel header="Cursos asignados" leftIcon="pi pi-clone" tooltip="">
<app-institution></app-institution>
    </p-tabPanel>
  </p-tabView>
</div>